/* Write your CSS here */
.total-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  height: 100vh;
}

.inner-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  box-shadow: 0px 4px 16px 0px #eaebed;
  padding: 35px;
  border-radius: 15px;
  border: 1px solid #e4ebf3;
}

@media screen and (min-width: 768px) {
  .inner-container {
    width: 35%;
    max-width: 500px;
  }
}

.heading {
  text-align: center;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 700;
  color: #0b69ff;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 25px;
  }
}

.description {
  text-align: center;
  font-family: 'Roboto';
  font-size: 15px;
  color: #333333;
}

@media screen and (min-width: 768px) {
  .description {
    font-size: 20px;
  }
}

.generate-button {
  background-color: #0b69ff;
  font-family: 'Roboto';
  font-size: 10px;
  font-weight: 500;
  color: #ffffff;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  margin-top: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.random-number {
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 700;
  color: #0b69ff;
  margin-top: 25px;
}

@media screen and (min-width: 768px) {
  .random-number {
    font-size: 50px;
  }
}
